target
.idea/
*.iml
*.im
*.ipr
*.iws
overlays
.DS_Store
.settings
*.swp
*.log
.project
.classpath
*.fmd
.cache
dependency-reduced-pom.xml
kube-cluster/kubernetes
apps/modifiedFabric8.json
git-clones
javac-services.0.log.lck
settings.json
src/main/resources/codependent-ca-key.pem
src/main/resources/server-keystore.jks
src/main/resources/unsigned-client.csr
src/main/resources/codependent-ca.pem
src/main/resources/server-public.cer
src/main/resources/client-keystore.jks
src/main/resources/client-truststore.jks
src/main/resources/signed-client.cer
src/main/resources/codependent-client.p12